@import url(/css/mobile.css);
@import url('./tablet.css') screen and (min-width: 768px);
@import url('./desktop.css') screen and (min-width: 1024px);


@font-face {
    font-family: 'Komikax' ;
    src: url(/assets/fonts/KOMIKAX_.ttf);
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}